{% extends "base.html" %}

{% block title %} Characters {% endblock title %}

{% block content %}
{% include "partials/header.html" %}

<div class="row mt-5 justify-content-center">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Birth Year</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Home World</th>
                </tr>
            </thead>
            <tbody>
                {% for people in people_list %}
                <tr>
                    <th scope="row">{{ people.name }}</th>
                    <td>{{ people.birth_year }}</td>
                    <td>{{ people.gender }}</td>
                    <td>{{ people.homeworld }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}